TWITTER_USERNAME=your_username_here
TWITTER_PASSWORD=your_password_here

# Supabase / Local details
POSTGRES_USER=postgres  # later supabase username
POSTGRES_PASSWORD=your_password_here  # later supabase password
DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@localhost:5432/reverse_cramer  # later supabase url
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your_secret_key_here
