TWITTER_USERNAME=your_username_here
TWITTER_PASSWORD=your_password_here

# Supabase / Local details
POSTGRES_USER=postgres  # later supabase username
POSTGRES_PASSWORD=your_password_here  # later supabase password
DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@localhost:5432/reverse_cramer  # later supabase url
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SECRET_KEY=your_secret_key_here

# Claude API for sentiment analysis
ANTHROPIC_API_KEY=your_anthropic_api_key_here

# Alpaca Trading API ~ Sandbox (Paper Trading)
ALPACA_API_KEY=your_alpaca_api_key_here
ALPACA_API_SECRET=your_alpaca_api_secret_here

# Alpaca Trading API ~ Live (Real Trading)
ALPACA_LIVE_API_KEY=your_alpaca_live_api_key_here
ALPACA_LIVE_API_SECRET=your_alpaca_live_api_secret_here